body { min-width: 1000px; }

.header {
    height: 40px;
    background-color: white
}

.header_home {
    float: left;
    width: auto;
    /*height: 80px;*/
    height: 40px;
}

.header_home_img {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 5px;
}

.header_search {
    height: 40px;
    float: left;
}

.header_search_top { height: 16px; }

.header_search_pic {
    height: 22px;
    margin-top: 9px;
    margin-left: 4px;
}

.header_search_pic_div {
    width: 28px;
    height: 40px;
    background-color: white;
    float: left;
    margin-left: 16px;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-right-color: white;
    border-width: 1px;*/
}

.header_search_textbox {
    height: 22px;
    margin-left: 7px;
    margin-top: 11px;
}

/*.header_search_textbox_content {
    background-color: white;
    height: 16px;
    Width: 382px;
    color: grey;
    border-style: none;
}*/

.header_search_textbox_content_focus {
    background-color: white;
    height: 16px;
    Width: 470px;
    color: black;
    border-style: none;
}

.header_search_textbox_content_coding {
    background-color: white;
    height: 16px;
    Width: 382px;
    color: black;
    border-style: none;
}

.header_search_textbox_div {
    height: 45px;
    float: left;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-left-color: white;
    border-width: 1px;
}

.header_right {
    float: right;
    height: 40px
}

.header_right_ul {
    list-style: none;
    height: 40px;
    width: 180px;
    margin-top: 0
}

.header_right_ul_btn {
    /*margin-top: 18px;*/
    cursor: pointer;
    border-style: none;
    width: 60px;
    background-color: white;
    font-weight: bold;
    font-family: 微软雅黑;
    font-size: large;
    color: black;
    height: 39px;
}

.header_logined_in {
    border-style: none;
    outline: 0;
    height: 39px;
    cursor: pointer;
}

.main_hr { width: 100%; }

.main {
    padding-left: 5%;
    max-width: 90%;
}

.main_div_h {
    font-size: 24px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 20px;
    margin-bottom: 8px;
    color: black;
    font-weight: 800
}

.login {
    background-color: white;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.login_btn {
    margin-right: 100px;
    margin-bottom: 50px;
}

.register {

}
.register tr {
    height:40px
}
.register tr td {
    text-align: right;
}
.register_text {
    margin-left: 100px
}
.name {
    height: 39px;
    border-style: none;
    text-align: right;
}